<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IWarehouseServ">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/testqueue" binding="netMsmqBinding"
                bindingConfiguration="NetMsmqBinding_IWarehouseServ" contract="WarehouseServ.IWarehouseServ"
                name="NetMsmqBinding_IWarehouseServ">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>